.nested-copy-line-height {
  max-width: 100% !important;
}

article, article.mw8, .mw8, main.mw8, .center.mw8 {
  max-width: 70rem !important;
}

.w-two-thirds-l {
  width: 90% !important;
}

ul, ol {
  padding-left: 2rem;
  margin-left: 0;
  text-align: left;
  display: inline-block;
}

ul li, ol li {
  padding-left: 0.5rem;
  text-align: left;
}

.nested-copy-line-height ul,
.nested-copy-line-height ol {
  list-style-position: inside;
  padding-left: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  text-align: left;
}

th {
  background-color: #f5f5f5;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

.cover {
  filter: brightness(1.3) saturate(1.1);
}

h1.f2.f-subheadline-l {
  font-size: 1.8rem !important;
  font-weight: 700 !important;
}

h2.fw1.f5.f3-l {
  font-weight: 700 !important;
}

@media screen and (min-width: 60em) {
  h1.f2.f-subheadline-l {
    font-size: 2.2rem !important;
  }
}

h2 {
  border-bottom: 2px solid #00abae;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2rem 0;
}
